* {
    box-sizing: border-box;
    font-family: "Verdana", sans-serif;
}

body {
    background-color: teal;
    color: white;
    text-align: center;
    background-image:url("images/background.png");
    background-size: cover;
    background-attachment: fixed;
}
.header {
    width: auto;
    height: 150px;
    background-color: #acb3b8;
    display: flex;
    justify-content: space-between
}
.header-image img{
    max-width: 150px;
    height: auto;
    position: absolute;
    left: 10px;
    display: flex;
    justify-content: space-between
}
.github-logo{
    width:40px;
}
.instagram img{
    width:40px;
}
